
p {
	text-align: center;
}
h2 {
	text-align: center;
	margin-bottom: 5px;
	margin-top:5px;
}

#heading .bbh-sans-hegarty-regular {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: Bold;
	color: #FFB5CA 
}

#heading {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-variant: normal;
    color: #F5F0BA;
    font-weight: bolder;
    white-space: normal;
    text-align: center;
}


h2 {
    color: #FFB5CA;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
.colored-section h2 {
    color: #F5F0BA;
    font-size: xx-large;
}

h3 {
    color: #F5F0BA;
}
Body {
    background-color: #F5F0BA;
	padding-left: 80px;
	padding-right:80px;
	
}
Footer {
    background-color: #FFB5CA;
    list-style-position: inside;
}
	
.my-button {
  background-color:#FFB5CA;
  color:#F5F0BA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
margin-bottom: 10px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}
	.my-button:hover {
  background-color:#FF91A7;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
margin-bottom: 5px;
}

.nav-links {
	position: sticky;
	top:0;
	background-color:#FFB5CA;
	padding: 10px 20px;
	display:flex;
	gap: 15px;
	justify-content: center;
	z-index: 999;
	margin-bottom: 20px;
}

.nav-links a {
	text-decoration:none;
	padding: 8px 14px;
	border-radious: 6px;
	color: #F5F0BA;
	font-weight: 500;
	transition: 0.25s ease;
}

.nav-links a:hover {
	background-color:#FF91A7;
	color:#F5F0BA;
	box-shadow: 0 4px 10px;
	transform: translate(-2px);
}

.nav-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 15 px;
}

.nav-links li {
	margin: 0;
	padding: 0;
}
 
.hero {
	position: relative;
	min-height: 60vh;
	display: grid;
	place-items: Center;
	overflow: hidden;
}
.hero_bg {
	position:absolute;
	inset: 0;
	object-fit: cover;
	object-position: center;
}

p {
	  Color: #FFB5CA;
	 font-size: 20px;
	margin-bottom: 5px;
	margin-top:5px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	text-align: center;
		}
body { margin:0;
	line-height: 1.6;
			background-color: #F5F0BA;
		}
.colored-section {
			background-color: #FFB5CA;
			padding: 20px;
			border-radius: 8px;
			font-color:#F5F0BA;
			text-align:Center;
		}
h1 {font-size: 80px;
color:#FFB5CA;
text-align: center;
}
		
.content{
			max-width: 1500px;
			margin:auto;
			padding:20px;
		}
.site-footer {
  text-align: center;     
  color:#F5F0BA;              
  background-color:#FFB5CA;   
  padding: 20px;           
  font-family: Arial, sans-serif; 
}
Body {padding:20px}
cite {color:#FFB5CA;
	Text-align:center; }
Address {
	color:#FFB5CA;
	Text-align:center;
}
h2{font-size: 60px;
text-align: center;}
a{Color:#FF91A7; }
		
		.float-layout img {float:left;
		margin-right: 20px;
		width: 600px;
		}
		.float-layout:After{
			content:"";
			display:block;
			clear:both;
		}
		
q{
  display: block;                
  font-size: 1.5em;             
  font-style: italic;           
  margin: 20px auto;             
  padding: 10px 20px;
  border-left: 4px solid #444;        
  font-color:#FF91A7;            
}

   

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
	display: flex;
	justify-content: center;
	align-items:center;
}

section h2{
	border-bottom: 3px solid #FFB5CA;
	display: inline-block;
	padding-bottom:5px;
	margin-bottom:20px;
}

.text-image {
	display:flex;
	gap: 40px;
	align-items:center;
	margin:40px 0;
	flex-wrap: wrap;
}
.text-image div {flex:1;
min-width:250px}
.text-image.reverse{
	flex-direction:row-reverse;
}
.image-block{
	width:45%;
	max-width:600px;
	text-align:center;
}		
.image-block img{
	width:100%;
	border-radious:10px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.15);
	display:block;
	
}
.image-block p{
	margin-top:8px;
	font-size:0.9em;
	color:aliceblue;
	font-style:italic;
}
.hero-section h1{
	color:#FFB5CA;
	margin-bottom: 10px;
	font-family: "PT Serif", serif;	

}
.hero-section p{margin-bottom: 30px}

.hero-section h3{
	color:#FFB5CA;
	max-width: 800px;
	margin: 0 auto 20px auto;
	font-family: "Alan Sans", sans-serif;
}
.responsive-img {
	justify-content: center;
}
.left{
	text-align: center;
}
.left p{
	text-align: center;
	margin-top:5px;
	margin-bottom:5px;
}
.colored-section {
			background-color: #FFB5CA;
			padding: 20px;
			border-radius: 8px;
			font-color:#F5F0BA;
			text-align:Center;
		    color:#F5F0BA;
		}
.colored-section h1{color: #F5F0BA;
}
.site-footer {
  text-align: center;     
  color:#F5F0BA;              
  background-color:#FFB5CA;   
  padding: 20px;           
  font-family: Arial, sans-serif; 
}
.intro-section h2{
	Text-align:center;
}
.intro-section p{ 
margin-left: 30px;
margin-right: 30px;
}
.tips-section p{
	text-align: right;
}
.right-section p{
	text-align:left;
}
.left-section p{
	text-align:left;
}
.almost-footer p{
	text-align:center;
	
}
.almost-footer h2 {
	text-align:center;
}
.left-section h2 {
	text-align:center;
}
.right-section h2{
	text-align:center;
}
.h2-section {
	text-align:center;
}
.flip-card{
	background-color:transparent;
	width:225px;
	height:225px;
	perspective:1000px;
}
.flip-card-inner{
	postition:relative;
	width:100%;
	height:100px;
	text-align:center;
	transition:transform 0.8s;
	transform-style:preserve-3d;
	
}
.flip-card:hover .flip-card-inner{
	transform:rotateY(180deg);
}
.flip-card-front, .flip-card-back{
	position: absolute;
	width:100%;
	height:100%;
	backface-visibility:hidden;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:20px;
	color:#FF91A7;
	border-radious:10px;
	

}
.flip-card-back {
	background-color:#FFB5CA;
	color:#F5F0BA;
	transform:rotateY(180deg);
}
.flip-card p{
	font-size: 10px;
	color:#F5F0BA;
	
}
.hello{
	margin-bottom:30px;
}
.image-center{
	align-items:center;
}
.flip-card {
  transform-style: preserve-3d;
  position: relative;
  z-index: 1;
  margin-top: 70px; /* space below card */
}

